<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joanna Bulla prtfolio</title>
    <link rel="icon" href="/static/images/desarrollador-de-software.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/video_download.css">
</head>
<body>
  <div class="container">
      <br>
      <br>
      <img src="/static/images/fotor-ai-2024043015158.jpg" alt="Logo" class="logo">
    <h1>Video Downloader</h1>
    <div class="form-container">
        <form action="/project/video_downloader/download">
            <input type="text" id="linkInput" name="url" placeholder="youtube url video">
            <button class="download-button" type="submit">Download</button>
            <br>
            <br>
            <br>
        </form>

    </div>
  </div>
<p>For downloading a video, please paste the youtube url. Then click on "download"</p>
</body>
</html>
